
body{
    margin:0;
    height: 3000px;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(246, 240, 240);

}
p{
    font-family: Roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail{
    width: 100%;
    /* height: 300px;
    object-fit: contain; 
    /* object-fit: cover; */
    /* here contain shrinks the image and cover crops the image */
    /* according to the siz egiven object fit works */
    /* object-position: bottom; */
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: red; */ 
    margin-bottom: 12px;

}
.search-bar{
    display: block;
}
.video-preview{
    
}
.video-author,.video-stats{
    display: block;
    font-size: 12px;
    color: rgb(96,96,96);
}
.video-author{
    margin-bottom: 4px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-pic{
    
}
.video-info{
    
}
.profile-pic{
    width: 36px;
    border-radius: 50px;
}
.Video-title{
    /* vertical-align: top; */
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    
}

@media (max-width:750px){
    .video-grid {
        grid-template-columns:1fr 1fr ;

    }
}
@media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}




/* started with header */
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    left:0;
    right:0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 100;

    /* it is for distribute the content evenly */
}

.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
   height: 20px; 
}

.middle-section{
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items:center;
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width:1px;
    border-style: solid;
    border-color: rgb(186, 186, 186);
    border-radius: 2px;
    /* we can replace sryle color and width in one line */
    /* border:1px solid gray; */
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;

}
.search-bar::placeholder{
    font-family: Roboto,Arial;

}

.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color:rgb(186, 186, 186); 
    margin-left: -1px;
    margin-right: 10px;

    position: relative;
}
.search-button .tooltip,
.voice-search-button.tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding:4px 8px 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity:0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
 .voice-search-button:hover .tooltip{
    opacity:1;
}


.search{
    height: 25px;
    margin-top: 4px;
}
.voice-search-button{
    height: 40px;
    width:40px;
    border-radius: 20px;
    border:none;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.voice-search{
    height: 24px;
    margin-top: 4px;
   

}

.right-section{
    width:180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    /* it stops from shrinking */
    
}
.upload{
    height: 24px;

}
.youtube-apps{

    height: 24px;
}
.notifications{
    height: 24px;

}
.notiffication-icon-container{
    position: relative;
}
.notification-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(177, 8, 8);
    color: white;
    font-family: Roboto,Arial ;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 9px;


}
.my-channel{
    height: 32px;
    border-radius: 16px;

}
.thumbnail-row{
    position: relative;
    margin-bottom: 12px;

}
.video-time{
    font-family: Roboto,Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px 4px 4px ;
    border-radius: 2px;
    margin-left: -1px;
    color: white;
    background-color: black;
    position: absolute;
    bottom: 22px;
    right:5px

}


/* sidebar code */
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;


}

.sidebar-link{
    height:74px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(235,235,235);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}
.sidebar-link div{
    color: black;
    font-size: 10px;
    font-family: Roboto,Arial;

}
